<header class="px-5 py-5">
    <h3>Add New Plant</h3>
</header>
<main class="px-5">
    {{!-- <form action="http://18.220.75.192:3000/api/add_new_item" method="post" id="add_plant_form" enctype="multipart/form-data"> --}}
    <form action="/item/add_new_item" method="post" id="add_plant_form" enctype="multipart/form-data">
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="validationServer01">Plant name</label>
                <input type="text" class="form-control" name="plant_name" id="validationServer01" value="Plant name" required>
                <!-- <div class="valid-feedback">
                    Looks good!
                </div> -->
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationServer00">Category</label>
                <select class="selectpicker form-control show-tick show-menu-arrow" id="validationServer00" title="Choose category" name="plant_category_type" data-size="5"  data-live-search="true">
                    {{#each categories}}
                        <option value="{{key}}">{{val}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationServer02">Description</label>
                <input type="text" class="form-control" name="plant_description" id="validationServer02" value="Description" required>
                <!-- <div class="valid-feedback">
                    Looks good!
                </div> -->
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationServer02">Description Category</label>
                <select class="selectpicker form-control  show-tick show-menu-arrow" title="Choose description category" id="validationServer00" name="plant_description_category" data-size="5">
                    {{#each description_category_array}}
                        <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3">
                <label for="validationServer03">Price</label>
                <input type="number" class="form-control" value="1" name="plant_price" id="validationServer03" value="1" required>    
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationServer02">Bag Weight</label>
                <select class="selectpicker form-control  show-tick show-menu-arrow" id="validationServer00" title="Choose bag size" name="plant_bag_size" data-size="5" data-live-search="true">
                    {{#each bag_size_array}}
                        <option value="{{this.id}}">{{this.name}}<span class="text font-weight-light font-italic">[{{this.weight_from}} to {{this.weight_to}} {{this.unit}}]</span></option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="container m-0 p-0">
            <div class="row mb-2">
            {{#each input_images_obj}}
                <div class="col">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" accept="image/*" name="view_{{this.id}}" id="customFile_1">
                        <label class="custom-file-label" for="customFile_1">Choose File</label>
                    </div>
                </div>
            {{/each}}
            </div>
        </div>
    </form>
    <button class="btn btn-primary submit_form">Add Plant</button>
    <button class="btn btn-danger reset_form">Reset Fields</button>

</main>
<footer></footer>
<script>
    $(document).ready(function(){
        $('select').selectpicker();
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
        $(".reset_form").on("click", function(){
            $("#add_plant_form").reset();
        })
        $(".submit_form").on("click", function(){
            $("#add_plant_form").submit();
        })
    })

</script>
