<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Plants</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"></head>
</head>
<body>
    <head><h3>Plants Table</h3></head>
    <main>
        {{#if hasProducts}}
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Plant</th>
                    <th scope="col">Description</th>
                    <th scope="col">Photo 1</th>
                    <th scope="col">Photo 2</th>
                    <th scope="col">Photo 3</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    {{#each items}}
                        <th scope="row">1</th>
                        <td>{{this.name}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.link_1}}</td>
                        <td>{{this.link_2}}</td>
                        <td>{{this.link_3}}</td>
                    {{/each}}
                </tr>
            </tbody>
        </table>        
        {{ else }}
        no items found
        {{/if}}
    </main>
    <footer></footer>
</body>
</html>