<div class="container p-4">
    <head><h3>Show Plants</h3></head>
    <main>
        <div class="d-flex justify-content-end p-2">
            <a class="btn btn-danger" href="#" id="delete_items">Delete</a>
        </div>
        <div class="table-responsive">
            {{#if hasProducts}}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Plant</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col">View 1</th>
                        <th scope="col">View 2</th>
                        <th scope="col">View 3</th>
                    </tr>
                </thead>
                
                <tbody>
                    {{#each items}}
                    <tr>
                        <th scope="row"><input type="checkbox" name="selected_item" id="{{this.id}}" val="{{this.id}}"></th>
                        <td><a href="/item/view?id={{this.id}}">{{this.plant_name}}</a></td>
                        <td>{{this.plant_price}}</td>
                        <td>{{this.plant_category}}</td>
                        <td>{{this.plant_description}}</td>
                        <td><img src="{{this.link_0}}" alt="plant" height="75px" width="75px"/></td>
                        <td><img src="{{this.link_1}}" alt="plant" height="75px" width="75px"/></td>
                        <td><img src="{{this.link_2}}" alt="plant" height="75px" width="75px"/></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>        
            {{ else }}
            no items found
            {{/if}}
        </div>
    </main>
    <footer></footer>
</div>
<script>
    $(document).ready(function(){
        $("input[name=selected_item]").on("change", function(){
            var items_list = []
            $("input:checkbox[name=selected_item]:checked").each(function(){
                items_list.push($(this).attr("val"))
            });
            $("#delete_items").attr("href", `http://18.220.75.192:3000/api/delete?id=${items_list.join(",")}`)
            // var item_obj = JSON.stringify({"items": items_list})

            // $.ajax({
            //    method: "POST",
            //    url: "/item/delete",
            //   dataType: 'json',
            //    headers: {
            //        'Content-Type': 'application/json'
            //    },
            //    data: item_obj,
            //    success: function(response){
            //        console.log(response)
            //    },
            //    error: function(response){
            //        console.log(response)
            //    }
            // })        
        })
    })
</script>