<div class="container py-2">
    <head><h3>Show Plants</h3></head>
    <main>
        <div class="d-flex justify-content-end p-2">
            <a class="btn btn-danger" href="#" id="delete_items">Delete</a>
        </div>
        <div class="table-responsive">
            {{#if hasProducts}}
            <table class="table table-hover w-auto" id="itemsTable">
                <thead>
                    <tr>
                        <th scope="col" data-orderable="false">#</th>
                        {{#each table_structure}}
                            <th scope="col">{{this.title}}</th>
                        {{/each}}
                    </tr>
                </thead>
                
                <tbody>
                    {{#each items}}
                    <tr>
                        <th scope="row"><input type="checkbox" name="selected_item" id="{{this.id}}" val="{{this.id}}"></th>
                        <td>{{this.date}}</td>
                        <td>{{this.category_name}}</td>
                        <td><img src="{{this.link_0}}" alt="plant" height="75px" width="75px"/></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>        
            {{ else }}
                <h5>No Items to show</h5>
                Click here to <a href="/item/add">add items</a>
            {{/if}}
        </div>
    </main>
    <footer></footer>
</div>
<script>
    $(document).ready(function(){
        $('#itemsTable').DataTable({
            columnDefs: [
                { orderable: false, targets: 0 },
                { 
                    orderable: false, targets: 1
                }
            ]
        });
        $("input[name=selected_item]").on("change", function(){
            var items_list = []
            $("input:checkbox[name=selected_item]:checked").each(function(){
                items_list.push($(this).attr("val"))
            });
            $("#delete_items").attr("href", `/category/delete?id=${items_list.join(",")}`)
        })
    })
</script>